<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="viewport"content="initial-scale=1, user-scalable=0, minimal-ui">

	<title>forget password</title>
	<link rel="stylesheet" href="../loginAndReg/loginAndreg.css">
	<link rel="icon" type="image/x-icon" href="../index/img/icon.jpg" />

	</head>
<body>

	<div class="bg-img">
		<div id ="myQuestion">
			<div  class="loginAndReg">
				<h3 style="color:white;">输入您的名称或邮箱已完成验证</h3>
				<p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>

				<input class="ac" type="text" id="account" placeholder="Enter your User Name or Email" required />

				<input type="submit"  onclick="myFunction()" value="验证" />
			</div>
		</div>
	</div>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript">
	function myFunction(){
		var account = document.getElementById("account").value;
	 	$.post( "/parts/userforgetfwd", {account})
		.done(function( data ) {
			$('#myQuestion').html(data);
		})
	 	 .fail(function() {
			   alert("---");
			  })
			  //Ajax通信の成功・失敗に関わらず最後に処理
			  .always(function() {
				  alert("正在验证用户请稍后");
			 });
	}

	</script>

	<script type="text/javascript">
	function myAnswer(){
		var qOne = document.getElementById("questionOne").value;
		var qTow = document.getElementById("questionTow").value;
		var qThree = document.getElementById("questionThree").value;
	 	$.post( "/parts/userchangepwd", { qOne : qOne,  qTow : qTow, qThree : qThree})
		.done(function( data ) {
			$('#myQuestion').html(data);
		})
	 	 .fail(function() {
			   alert("---");
			  })
			  //Ajax通信の成功・失敗に関わらず最後に処理
			  .always(function() {
				  alert("正在验证信息请稍后");
			 });
	}

	</script>

	<script type="text/javascript">
	function myPwd(){
		var pwd = document.getElementById("pwd").value;
	 	$.post( "/parts/pwdsuccess", {pwd :pwd })
		.done(function( data ) {
			$('#myQuestion').html(data);
		})
	 	 .fail(function() {
			   alert("---");
			  })
			  //Ajax通信の成功・失敗に関わらず最後に処理
			  .always(function() {
				  alert("正在修改密码请稍等");
			 });
	}

	</script>

	 <script>
          function checkPasswordMatch() {
              var password = document.getElementById("pwd").value;
              var confirmPassword = document.getElementById("pwd1").value;
              if (password != confirmPassword)
                  $("#CheckPasswordMatch").html("密碼不一致");
              else
                  $("#CheckPasswordMatch").html("密碼一致");
          }
          $(document).ready(function () {
             $("#pwd1").keyup(checkPasswordMatch);
          });
          </script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.js"></script>
</body>
</html>